# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore environment variables
.env

# Ignore config directory


# Ignore all files in logs directory except .txt files
logs/*
!logs/*.txt

# ignore mailtrap-file
mailtrap/

# ignore upload files
upload/
